body
{
    background-color: white;
}
a{
    color:inherit;
    list-style-type:none;
}
ul
{
list-style-type: none;
padding: 45px;
}
#navbar
{
    background-color:lightgray;
}
#referee
{
    background-color:lightgray;

}
#waitress
{
    background-color:lightgray;
}