body
{
    background-color: white;
}
a{
    text-decoration: none;
    color:inherit;
    list-style-type:none;
}
ul
{
list-style-type: none;
padding: 45px;
}
#navbar
{
    background-color:lightgray
}
#referee
{
    background-color:darkgray

}
#waitress
{
    background-color:darkgray;
}