body
{
    background-color: lightgray;
}
a{
    text-decoration: none;
    color:inherit;
    list-style-type:none;
}
ul
{
list-style-type: none;
}
#referee
{
    background-color:lightblue;
}
#waitress
{
    background-color:lightblue;
}